<a href="https://colab.research.google.com/github/foxsroot/ecommerce-big-data-analytic/blob/main/ecommerce_analytic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq
import os
import time

df = pd.read_csv("/content/data.csv", encoding="latin1")  # or "ISO-8859-1"
print(df.info())
print(df.describe())

df.to_csv("data.csv", index=False)
table = pa.Table.from_pandas(df)
pq.write_table(table, "ecommerce.parquet")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162913 entries, 0 to 162912
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    162913 non-null  object
 1   StockCode    162913 non-null  object
 2   Description  162283 non-null  object
 3   Quantity     162912 non-null  float64
 4   InvoiceDate  162912 non-null  object
 5   UnitPrice    162912 non-null  float64
 6   CustomerID   113420 non-null  float64
 7   Country      162912 non-null  object
dtypes: float64(3), object(5)
memory usage: 9.9+ MB
None
            Quantity      UnitPrice     CustomerID
count  162912.000000  162912.000000  113420.000000
mean        9.051463       5.060244   15289.260377
std       265.828567      98.747789    1732.848052
min    -74215.000000       0.000000   12346.000000
25%         1.000000       1.250000   13842.000000
50%         3.000000       2.460000   15194.000000
75%        10.000000       4.210000   16858.000000
max     74215.000000   16888.020000   18283.000000